 <div class="results-banner text-white">
    <h1>results</h1>
  </div>
  <div class="background-pink">
  <div class="results-flashcard-wrapper">
    <div class="results-flashcards-container">
      <ul class="list-group">
        <div class="flashcard m-5">
          <% @conversion.sentences.reverse.each do |sentence| %>
             <li class="list-group-item"><%= sentence.content %></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
