 <div class="results-banner text-white">
    <h3>results</h3>
  </div>
  <div class="background-pink">
    <div class="results-flashcard-wrapper">
      <div class="results-flashcards-container">
          <%= form_tag choose_deck_conversion_path(@conversion), method: :get do %>
            <ul>
              <% @conversion.sentences.reverse.each do |sentence| %>
                <li class="results-flashcard m-1"><%= check_box_tag "sentences[]", sentence.id %><%= sentence.content %></li>
              <% end %>
            </ul>
          <%= submit_tag "Submit" %>
        <% end %>
      </div>
    </div>
  </div>



