<div class="background-blue">
  <div class="row">
    <div class="results-header mt-5 p-5 text-white">
      <h2> results:123 flashcards</h2>
    </div>
  </div>
</div>
<div class="background-pink p-5">
  <div class="sentences-wrapper">
    <div class="flashcard m-2">
      <ul class="list-group">
        <% @conversion.sentences.each do |sentence| %>
          <li class="list-group-item"><%= sentence.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
