<div class="background-blue">
  <h1><%= @conversion.url %></h1>
  <ul class="list-group">
  <% @conversion.sentences.each do |sentence| %>
    <li class="list-group-item"><%= sentence.content %></li>
  <% end %>
  </ul>
</div>
