// Define variables for your color scheme

// For example:
$red: #CF6666;
$blue: #5957B9;
$light-blue: #4095b7;
$green: #59D4BE;
$orange: #F3934D;
$violet: #E7DAF3;
$pink: #FFEEEE;
$light-yellow: #fcf6ed;
$gray: #CBCBCB;
$light-gray: #FAFAFA;
$white: #F9F9FE;
$purple: #7853FC;

$yellow: #FFC65A;
$bg-color: #FAFAFA;
