// Define variables for your color scheme

// For example:
$red: #CF6666;
$blue: #90C2E5;
$violet: #E7DAF3;
$pink: #FFEEEE;
$light-yellow: #FEF4E5;

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
