// Specific CSS for your home-page
h2, h3, .button {
  text-align: center;
  padding: 8px;
}

.bottom {
  position: relative;
  width: 80%;
}

.how-to-use-flavie {
  right: 15%;
  display: flex;
}

.step {
  display: flex;
  text-align: left;
}

.number {
  font-size: 24px;
}

.how-to-use-flavie {
  .tablet-image {
    border-radius: 10%;
  }
}


