.dashboard-info-box {
  background-color: $light-gray;
  background-position: center;
  display: flex;
  justify-content: center;
  border: solid #e7e7e7 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  position: relative;
  transition: 0.2s;
}
