<!-- <div class="flashcard d-flex flex-column h-100 p-5">
  <h3><u>Deck Name:</u> <strong><%#= @flashcard.deck.name  %></strong></h3>
  <h4><u>Sentence:</u> </h4>
  <h5><%#= @flashcard.sentence.content %></h5>
  <p><u> This flashcard was reated at: </u></p>
  <p><%#= @flashcard.created_at %></p>
</div>
 -->

 <div class="flashcard" data-controller='flashcard' data-target='deck.card'>
     <div class="flashcard-body">
       <div class="flashcard-front">
         <p><%= flashcard.sentence.content %></p>
       </div>
     <div class="flashcard-back">
       <p><%= flashcard.sentence.content %></p>
       <p>Translation goes here</p>
     </div>
   </div>
   <footer class='flashcard-front-footer'>
     <button class='button-blue' data-action='flashcard#flip'>Flip</button>
   </footer>
   <footer class='flashcard-back-footer'>
     <button class='button-blue mr-1' data-action='flashcard#flip'>Again</button>
     <button class='button-blue mr-1' data-action='deck#next'>Easy</button>
     <button class='button-blue mr-1' data-action='deck#next'>Good</button>
     <button class='button-blue mr-1' data-action='deck#next'>Hard</button>
  </footer>
 </div>
