<div class="flashcard d-flex flex-column h-100 p-5">
  <h3><u>Deck Name:</u> <strong><%= @flashcard.deck.name  %></strong></h3>
  <h4><u>Sentence:</u> </h4>
  <h5><%= @flashcard.sentence.content %></h5>
  <p><u> This flashcard was reated at: </u></p>
  <p><%= @flashcard.created_at %></p>
</div>
