 <div class="flashcard p-5" data-controller='flashcard' data-target='deck.card'>
   <div class="flashcard-body">
     <div class="flashcard-front">
       <div class="flashcard-sentence">
         <p><%= flashcard.sentence.content %></p>
       </div>
     </div>
     <div class="flashcard-back">
       <div class="flashcard-sentence">
         <p><%= flashcard.sentence.content %></p>
       </div>
       <div class="flashcard-translation">
         <% unless flashcard.phrase_translation.blank? %>
          <p></p>
          <% flashcard.phrase_translation.split("\r\n").each do |tr| %>
            <p><%= tr %></p>
          <% end %>
        <% else %>
          <p>Translation goes here</p>
         <% end %>
       </div>
     </div>
   </div>
   <footer class='flashcard-front-footer'>
     <button class='button-blue' data-action='flashcard#flip'>Flip</button>
   </footer>
   <footer class='flashcard-back-footer'>
     <button class='button-red mr-1' data-action='flashcard#flip'>Again</button>
     <button class='button-light-orange mr-1' data-action='deck#next'>Easy</button>
     <button class='button-realblue mr-1' data-action='deck#next'>Good</button>
     <button class='button-blue-green mr-1' data-action='deck#next'>Hard</button>
  </footer>
</div>
