<div class="footer">
  <div class="footer-links">
    <%= link_to "About",'#' %></a>
    <%= link_to "Support",'#' %></a>
    <%= link_to "Terms",'#' %></a>
    <%= link_to "Privacy",'#' %></a>
  </div>
  <div class="footer-copyright">
    Copyright &copy; 2019 Flavie Team
  </div>
</div>
