<div class="row how-to-wrapper bg-wolf pt-5">
  <div class="col-12 d-flex justify-content-center"><h2>convert. choose. practice.</h2></div>
  <!-- <div class="how-to-use-flavie"> -->
    <!-- <div class="justify-content-around align-items-center how-to-use-flavie"> -->
    <div class="col-12 col-sm-6 p-1 d-inline-flex justify-content-center">
      <%= image_tag "https://icon-library.net/images/original-youtube-icon/original-youtube-icon-15.jpg", alt: "Photo of computer and tablet", class: 'tablet-image' %>
    </div>
    <div class="col-12 col-sm-6 p-5">
      <div class="container d-flex align-items-center">
        <i class="fab fa-youtube icon m-5"></i>
          <div class="step">
            <div>
              <h4>Choose a video</h4>
              <p>Paste the video url into the space above</p>
            </div>
          </div>
      </div>
      <div class="container d-flex">
        <i class="fas fa-exchange-alt icon m-5"></i>
          <div class="step">
            <div>
              <div>
                <h4>Convert the video to flashcards</h4>
                <p>We will convert the sentences from the video into flashcards</p>
              </div>
            </div>
          </div>
      </div>
      <div class="container d-flex">
        <i class="far fa-sticky-note icon m-5"></i>
          <div class="step">
            <div>
              <div>
                <h4>Choose the flashcards to learn</h4>
                <p>Choose the flashcards you’d like to learn and add them to a deck</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
