<div class="row how-to-wrapper">
  <div class="col-12 mb-3"><h3>convert. choose. practice.</h3></div>

  <!-- <div class="how-to-use-flavie"> -->
    <!-- <div class="justify-content-around align-items-center how-to-use-flavie"> -->

    <div class="col-12 col-sm-6 text-center">
      <%= image_tag "https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?cs=srgb&dl=entertainment-ipad-mockup-265685.jpg&fm=jpg", alt: "Photo of computer and tablet", class: 'tablet-image' %>
    </div>

    <div class="col-12 col-sm-6 p-3 steps">
      <div class="step">
        <div class="number"><h4>1.</h4></div>
        <div>
          <h4>Choose a video</h4>
          <p>Paste the video url into the space above</p>
        </div>
      </div>

      <div class="step">
        <div class="number"><h4>2.</h4></div>
        <div>
          <h4>Convert the video to flashcards</h4>
          <p>We will convert the sentences from the video into flashcards</p>
        </div>
      </div>

      <div class="step">
        <div class="number"><h4>3.</h4></div>
        <div>
          <h4>Choose the flashcards to learn</h4>
          <p>Choose the flashcards you’d like to learn and add them to a deck</p>
        </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
