<div class="background-blue mt-2 text-white p-5">
  <div class="container">
    <h2> <strong>Practice your flashcards</strong> </h2>
    <div class="header-block m-3"></div>
    <div class="container d-flex align-items-center">
        <%= image_tag "http://www.ahrensfamily.net/flashcards.png", alt: "alttext", class:"practice-flashcard-image mr-3" %>
      <h4>Whether you are watching a documentary or a speech, turn your favourite Youtube videos into flashcards.<br> Paste the Youtube URL into the search bar above to generate all the sentences. Only interested in a particular sentence? <br>We will let you handpick which sentences you want to turn into flashcards!</h4>
      </div>
      <div class="container d-flex justify-content-center">
      <div class="button-orange w-25 mt-5">practice flashcards</div>
    </div>
  </div>
</div>
