<div class="p-5">
  <div class="container">
    <h2> <strong>View your statistics</strong> </h2>
    <div class="header-block m-3"></div>
    <div class="container d-flex align-items-center">
      <h4>We provide you with the necessary statistics. This way you can improve your vocabulary and identify common mistakes.</h4>
      <%= image_tag 'graph.svg', alt: "graph image", class:"practice-flashcard-image mr-3" %>
      </div>
      <div class="container d-flex justify-content-center">
      <div class="button-orange w-25 mt-5">view statistics</div>
    </div>
  </div>
</div>
