<div class="banner">
  <div class="banner-circles">
    <%= image_tag "banner_circles.svg" %>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-8 text-center banner-content">
        <div class="main-content">
          <h2 id="title">the context learning app</h2>
          <h3 id="subtitle">Make flashcards from your favorite videos</h3>
        </div>
        <div class="input-group row px-0">
          <div class="col url-form pr-0">
            <%= simple_form_for @conversion do |f| %>
              <%= f.input :url, label: false, placeholder: 'Example: https://www.youtube.com/watch?v=k34EJF923' %>
          </div>
          <div>
              <%= f.button :submit, class: 'col convert-button', value: 'Convert!' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div><h3>convert. choose. practice.</h4></div>

<div class="how-to-use-flavie">

<img id="tablet-image" src="https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?cs=srgb&dl=entertainment-ipad-mockup-265685.jpg&fm=jpg" alt="Photo of computer and tablet" style="width:50%;">

<div class="steps">
  <div class="step">
    <div class="number"><h3>1.</h3></div>
    <div>
      <h4>Choose a video</h4>
      <p>Paste the video url into the space above.</p>
    </div>
  </div>

  <div class="step">
    <div class="number"><h3>2.</h3></div>
    <div>
      <h4>Convert the video to flashcards</h4>
      <p>We will convert the sentences from the video into flashcards.</p>
    </div>
  </div>

  <div class="step">
    <div class="number"><h3>3.</h3></div>
    <div>
      <h4>Choose the flashcards to learn</h4>
      <p>Choose the flashcards you’d like to learn and add them to a deck.</p>
    </div>
    </div>
  </div>
</div>
