.bottom {
  position: relative;
  width: 80%;
}

.how-to-use-flavie {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
}
.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step {
  display: flex;
  text-align: left;
  align-items: center;
}

.number {
  font-size: 24px;
  margin-right: 8px;
}

.tablet-image {
  border-radius: 2%;
  max-width: 550px;
}

.how-to-wrapper {
  margin: 1px 20px;
}

.icon {
  font-size: 50px;
  color: $primary;
}

.icon-big {
  font-size: 150px;
}
