.practice-area {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  background: #e2e2e2;
}

.flashcard-practice {
  padding: 6rem;
  font-size: 2rem;
  border-radius: 4px;
  width: 720px;
  background: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice-buttons {
  margin-top: 32px;
}

.flashcard-empty {
  margin-top: 32px;
  background: #E2E2E2;
  padding: 6rem;
  font-size: 2rem;
  border-radius: 5px;
  width: 720px;
  // background: #c9c9c9;

  display: flex;
  justify-content: center;
  align-items: center;
}
