.practice-area {
  width: 1000px;
  // height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.flashcard-body {
  background-color: #ece8fa;
  box-shadow: 1px 1px 2px $gray;
}

.flashcard--flipped .flashcard-body {
  background-color: #ded4fc;
}
.flashcard-practice {
  // background: white;
  padding: 6rem;
  font-size: 2rem;
  border-radius: 4px;
  width: 720px;
  background: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice-buttons {
  margin-top: 32px;
}

.flashcard-empty {
  margin-top: 32px;
  background: #E2E2E2;
  padding: 6rem;
  font-size: 2rem;
  border-radius: 5px;
  width: 720px;
  // background: #c9c9c9;

  display: flex;
  justify-content: center;
  align-items: center;
}
