.background-blue {
  background-color: $blue;
  padding: 20px;
}

.background-pink {
  background-color: $pink;
  padding: 20px;
}

.background-light-yellow {
  background-color: $light-yellow;
  padding: 20px;
}

.background-green {
  background-color: #86C1D2;
  padding: 20px;
}
