.button-blue {
  background-color: $blue;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 8px 16px;
  &:hover {
    text-decoration: none;
    color: $purple;
    background-color: #6767ce;
  }
}

.button-orange {
  background-color: #F3934D;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}

.button-green {
  background-color: #21A29D;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin: 2px;
  opacity: .75;
}
.button-green:hover {
  background-color: #228eb5;
  transition: 0.1s;
  opacity: 0.75;
}

.button-cancel {
  background-color: #DDDDDD;
  color: #666666;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin: 2px;
}
.button-cancel:hover {
  background-color: #a4a8b2;
  opacity: 1;
  transition: 0.1s;
}
