.button-blue {
  background-color: $blue;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 8px 16px;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #7272e5
  }
}

.button-light-blue {
  background-color: #779ed8;
  color: $white;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.button-orange {
  background-color: #F3934D;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}

.button-orange-hover {
  background-color: #F3934D;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}
.button-orange-hover:hover {
  transform: scale(1.02);
}

.button-green {
  background-color: #21A29D;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin: 2px;
}
.button-green:hover {
  background-color: #197f7a;
  transition: 0.1s;
  opacity: 2.75;
}

.button-cancel {
  background-color: #DDDDDD;
  color: #666666;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin: 2px;
}
.button-cancel:hover {
  background-color: #a4a8b2;
  opacity: 1;
  transition: 0.1s;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  padding: 8px;
  margin: 8px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}


.button-back-fixed {
  position: fixed;
  bottom: 240px;
  left: 80px;
}

.button-fixed {
  position: fixed;
  bottom: 240px;
  right: 80px;
}
