.deck-wrapper {
  display: grid;
  grid-auto-rows: 440px;
  grid-auto-columns: 440px;
  position: relative;
}

.deck {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background: $white;
  color: #495057;
  display: flex;
  padding: 8px;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
  &:hover {
    background-color: #d9cdfd;
    text-shadow: 0px 1px #8b8bbc;
  }
}

.my-decks {
  color: white;
  font-weight: bolder;
  margin-bottom: 0;
  padding: 94px;
}

.deck-header {
  padding-left: 0;
}

.deck-name {
  color: $green;
  font-weight: bold;
}

.deck-title {
  font-weight: bold;
}

.blue-background {
  background: #7853fc;
  position: relative;
}

.create-deck-button {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.white-container {
  margin: 0 5% 0 0;
  background-color: $light-gray;
  border-radius: 0px;
  position: relative;
}


.filters-container {
  width: 20%;
  margin-top: 5%;
  font-size: 20px;
  color: #86C1D2;
  p {
    padding: 4px 6px;
  }
}

.filters-container a {
  width: 20%;
  margin-top: 5%;
  font-size: 20px;
  color: #5857B9;
  &:hover {
    color: #86C1D2;
    text-decoration: none;
  }
}

.sort-by {
  font-size: 28px;
  font-weight: bold;
}

.deck-cards-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10% 5% 10% 0;
  grid-gap: 20px;
}

@media (max-width: 1500px) {
  .deck-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
