.flashcard-deck {
  background-color: #DEE8FC;
  color: #343232;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border: solid #e7e7e7 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
