// .flashcard {
//  background-color: $light-gray;
//   background-position: center;
//   height: 140px;
//   width: 450px;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   font-size: 16px;
//   border-style: solid;
//   border-color: #E7E7E7;
//   border-width: 1px;
//   border-radius: 5px;
//   box-shadow: 0 0 4px rgba(0,0,0,0.2);
//   position: relative;
// }

// .flashcard:hover {
//   opacity: 1;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
// }

.flashcard {
  color: black;
  font-size: 2rem;
  display: none;
  &-translation {
    color: blue;
  }
  &-sentence {
    color: black;
  }
  &-body {
    display: flex;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px;
    background: #e2e2e2;
    min-width: 160px;
  }
  &-front {
  }
  &-back {
    display: none;
  }
  &-front-footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  &-back-footer {
    display: none;
  }
  &--flipped {
    .flashcard {
      &-front {
        display: none;
      }
      &-back {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-body {
        background: #bfbfbf;
      }
      &-front-footer {
        display: none;
      }
      &-back-footer {
        display: block;
        padding: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
  &--current {
    display: block;
  }
}
