.flashcard {
  color: black;
  font-size: 2rem;
  display: none;
  &-translation {
    color: blue;
  }
  &-sentence {
    color: black;
  }
  &-body {
    display: flex;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px;
    background: #FAFAFA;
    min-width: 160px;
  }
  &-front {
  }
  &-back {
    display: none;
  }
  &-front-footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  &-back-footer {
    display: none;
  }
  &--flipped {
    .flashcard {
      &-front {
        display: none;
      }
      &-back {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-body {
        background: #FAFAFA;
      }
      &-front-footer {
        display: none;
      }
      &-back-footer {
        display: block;
        padding: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
  &--current {
    display: block;
  }
}
