.grid-item {
  background-color: $gray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 48px;
  font-size: 30px;
  text-align: center;
  background-color: #DEE8FC;
  color: #343232;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
