.navbar {
  background: $bg-color;
  transition: background-color 0.2s ease-in;
  a:hover {
    text-decoration: none;
    color: #7676bf;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.nav-items {
  list-style-type: none;
  margin-bottom: -1%;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5%;
}

.nav-items li {
  position: relative;
}

.nav-items li a {
  padding: 8px;
  display: flex;
}

.white-li a {
  color: white;
}

.purple-li a {
  color: #7853fc !important;
  // &:hover {
  //   color: #7676bf;
  // }
}

.nav-items li a:after {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -30px;
  transition: bottom 0.2s, opacity 0.2s;
  height: 7px;
  background-color: $orange;
  content: "";
}

.nav-items li:hover a:after {
  bottom: -8px;
  opacity: 1;
}
