.navbar {
  justify-content: space-between;
  // z-index: 5;
}

.nav-items {
  list-style-type: none;
  margin-bottom: -1%;
  font-size: 24px;
  font-weight: bold;
  margin-right: 5%;
}

.nav-items li {
  display: inline-block;
}

.nav-items li a {
  padding: 8px;
}

.white-li a {
  color: white;
}

.purple-li a {
  color: $purple;
}

.nav-items li a:hover {
  text-decoration: none;
}

.navbar img {
  width: 40px;
}

#logo h3 {
  font-family: 'Sansita', sans-serif;
  font-size: 48px;
  padding-left: 50px;
}
