.navbar {
  justify-content: space-between;
  background: $bg-color;
  transition: background-color 0.2s ease-in;
  a:hover {
    text-decoration: none;
    color: #7676bf;
  }
}

.nav-items {
  list-style-type: none;
  margin-bottom: -1%;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5%;
}

.nav-items li {
  display: inline-block;
}

.nav-items li a {
  padding: 8px;
}

.white-li a {
  color: white;
}

.purple-li a {
  color: $purple;
  &:hover {
    color: #7676bf;
  }
}

.nav-items li {
  position: relative;
}

.nav-items li a:after {
  display: block;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -30px;
  transition: bottom 0.2s, opacity 0.2s;
  height: 7px;
  background-color: $orange;
  content: "";
}

.nav-items li:hover a:after {
  bottom: -8px;
  opacity: 1;

}

.navbar img {
  width: 40px;
}

#logo {
  h3 {
    font-family: 'Sansita', sans-serif;
    font-size: 48px;
    padding-left: 50px;
  }
}

#slogan {
  font-family: 'Sansita', sans-serif;
    font-size: 22px;
    padding-top: 6px;
    padding-left: 6px;
    color: $orange;
}
