.profile-deck {
  background-color: #f9f9ff;
  background-position: center;
  height: 220px;
  width: 360px;
  color: #343232;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px #e7e7e7 solid;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
