// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/deck_list";

body {
  padding-top: 90px;
}

body.home-page {
  padding-top: 0;
  .navbar {
    background: none;
  }
  .nav-items li a {
    color: white;
  }
}
