<div class="container">
  <h1><%= @deck.name %></h1>
  <div class="grid-container">
    <% @deck.flashcards.each do |fc| %>
      <div class="grid-item"><%= fc.sentence.content %></div>
    <% end %>
  </div>
</div>
