<div class="container">
  <h1><%= @deck.name %></h1>
  <div class="flashcard-deck">
    <div class="cards-counter">
      <p>cards = some number</p>
      <h4>Card Name</h4>
    </div>
  </div>
  <div class="profile-deck">
    <p>text</p>
    <!-- <div class="button-blue">
      <p>push</p>
    </div> -->
    <%= link_to "Push", "#", class: 'button-blue' %>
  </div>
</div>
