.flashcards-container {
  margin-top: 90px;
  margin-left: 800px;
  padding-top: 20px;
}

#conversions-main {
  position: relative;
}

#conversions-main .button-orange {
  // position: fixed;
  // padding: 30px;
  // bottom: 80px;
  border: none;
  left: 120px;
  display: block;
  justify-content: center;
  align-items: center;
}
