.results-banner {
  background-color: #7853FC;
  padding-bottom: 160px;
  padding-top: 80px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
