.results-flashcard {
  background-color: $light-gray;
  background-position: center;
  width: 900px;
  padding: 8px;
  display: flex;
  justify-content: start;
  padding-left: 20px;
  align-items: center;
  font-size: 16px;
  border-style: solid;
  border-color: #E7E7E7;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: scale(1.02);
  }
}

.results-flashcard p {
  margin-bottom: 0;
}

.results-flashcard input {
  display:none;
}

.checkbox input + label {
      height: 32px;
      width: 32px;
      border: 3px solid #86C1D2;
      border-radius: 4px;
      margin: 0;
      display: inline-block;
      overflow: hidden;
}

.checkbox input:checked + label {
  background-color: #86C1D2;
}

.checkbox input:checked + label {
  &:after {
      content: "";
      display: inline-block;
      height: 12px;
      width: 20px;
      margin-left: 2px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(-45deg);
  }
}

.flashcards-list {
  list-style: none;
}
