.results-flashcard {
  background-color: $light-gray;
  background-position: center;
  height: 105px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-style: solid;
  border-color: #E7E7E7;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  position: relative;
  cursor: pointer;
}

.results-flashcard input {
  display:none;
}

 input:checked + .results-flashcard {
    background-color: $green;
    box-shadow: 3 2 2 4px rgba(0,0,1,0.8);
    // Uncomment if you prefer a border
    // box-shadow:0px 0px 0px 3px green inset;
  }

.flashcard-list-item input {
  display:none;
}

.flashcards-list {
  list-style: none;
}

.results-flashcard:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
